{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% if students|length > 0 %}
<section class="grid grid-cols-4 gap-5 py-5">
    {% for student in students %}
    <div class="border-2 border-emerald-500 rounded-lg px-4 py-2">
        <h2 class="text-xl font-semibold text-sky-500">{{student.name}}</h2>

        <div class="text-sm text-gray-600 mt-2">
            <p>Email: <span class="font-medium">{{student.email}}</span></p>
            <p>Phone No.: <span class="font-medium">{{student.phone_no}}</span></p>
            <p>Course: <span class="font-medium">{{student.course_name}}</span></p>
        </div>
    </div>
    {% endfor %}
</section>
{% else %}
<p class="text-center text-red-600 font-semibold text-lg">No Students Found!!</p>
{% endif %}
{% endblock %}