{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% if students|length > 0 %}
<section class="grid grid-cols-4 gap-5 py-5">
    {% for student in students %}
    <div class="border-2 border-emerald-500 rounded-lg px-4 py-2">
        <h2 class="text-xl font-semibold text-sky-500">{{student.name}}</h2>

        <div class="text-sm text-gray-600 mt-2">
            <p>Email: <span class="font-medium">{{student.email}}</span></p>
            <p>Phone No.: <span class="font-medium">{{student.phone_no}}</span></p>
            <p>Course: <span class="font-medium">{{student.course_name}}</span></p>
        </div>

        <div class="flex items-center gap-2 mt-3">
            <a href="{% url 'update_student' student.id %}"
                class="min-w-[80px] block w-fit text-center text-sm font-medium bg-emerald-500 text-white px-4 py-2 cursor-pointer hover:opacity-70 duration-300 rounded-md">
                Update
            </a>

            <a href="/"
                class="min-w-[80px] block w-fit text-center text-sm font-medium bg-red-500 text-white px-4 py-2 cursor-pointer hover:opacity-70 duration-300 rounded-md">
                Delete
            </a>
        </div>
    </div>
    {% endfor %}
</section>
{% else %}
<p class="text-center text-red-600 font-semibold text-lg">No Students Found!!</p>
{% endif %}
{% endblock %}