{% extends 'base.html' %}

{% block title %} Home 2 {% endblock %}

{% block content %}
<section class="grid grid-cols-4 gap-5 py-5">
    <div class="border-2 border-emerald-500 rounded-lg px-4 py-2">
        <h2 class="text-xl font-semibold text-sky-500">Milhan Joardar Aumi</h2>

        <div class="text-sm text-gray-600 mt-2">
            <p>Email: <span class="font-medium">mjaumi2864@gmail.com</span></p>
            <p>Phone No.: <span class="font-medium">+8801788744803</span></p>
            <p>Course: <span class="font-medium">B.Sc. in CSE</span></p>
        </div>
    </div>
</section>
{% endblock %}